<%- include("partials/header") -%>


<h1>Home</h1>
<p><%= paragraph %></p>
<% postValues.forEach(function(item) { %>

  <h1><%= item.name %></h1>
  <p><%= item.value.substring(0,100)+" ..." %><a href="/home/<%= item.name %>">Read more</a></p>

<% }); %>

<%- include("partials/footer") -%>
