<%- include("partials/header") -%>


<h1>Home</h1>
<p><%= paragraph %></p>
<%postValues.forEach(function(item) { %>

  <h1><%= item.titleText %></h1>
  <p><%= item.postText.substring(0,100)+" ..." %><a href="/home/<%= item.titleText %>">Read more</a></p>

<% }); %>

<%- include("partials/footer") -%>
